<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
 
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.login.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>newMatch</servlet-name>
  	<display-name>newMatch</display-name>
  	<description></description>
  	<servlet-class>com.newMatch.newMatch</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>enterTeam</servlet-name>
  	<display-name>enterTeam</display-name>
  	<description></description>
  	<servlet-class>com.enterTeam.enterTeam</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Team1_players</servlet-name>
  	<display-name>Team1_players</display-name>
  	<description></description>
  	<servlet-class>com.Team1_Players.Team1_players</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Team2_players</servlet-name>
  	<display-name>Team2_players</display-name>
  	<description></description>
  	<servlet-class>com.team2_players.Team2_players</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Toss</servlet-name>
  	<display-name>Toss</display-name>
  	<description></description>
  	<servlet-class>com.Toss.Toss</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>batBowl</servlet-name>
  	<display-name>batBowl</display-name>
  	<description></description>
  	<servlet-class>com.batBowl.batBowl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Score</servlet-name>
  	<display-name>Score</display-name>
  	<description></description>
  	<servlet-class>Score.java.Score</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>newBatsman</servlet-name>
  	<display-name>newBatsman</display-name>
  	<description></description>
  	<servlet-class>com.newbatsman.newBatsman</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>newbowler</servlet-name>
  	<display-name>newbowler</display-name>
  	<description></description>
  	<servlet-class>com.newbowler.newbowler</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>bresult</servlet-name>
  	<display-name>bresult</display-name>
  	<description></description>
  	<servlet-class>com.Bresult.bresult</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>boresult</servlet-name>
  	<display-name>boresult</display-name>
  	<description></description>
  	<servlet-class>com.boresult.boresult</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>scheduleMatch</servlet-name>
  	<display-name>scheduleMatch</display-name>
  	<description></description>
  	<servlet-class>com.schedulematch.scheduleMatch</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>signup</servlet-name>
  	<display-name>signup</display-name>
  	<description></description>
  	<servlet-class>com.signup.signup</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>newMatch</servlet-name>
  	<url-pattern>/newMatch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>enterTeam</servlet-name>
  	<url-pattern>/enterTeam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Team1_players</servlet-name>
  	<url-pattern>/Team1_players</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Team2_players</servlet-name>
  	<url-pattern>/Team2_players</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Toss</servlet-name>
  	<url-pattern>/Toss</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>batBowl</servlet-name>
  	<url-pattern>/batBowl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Score</servlet-name>
  	<url-pattern>/Score</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>newBatsman</servlet-name>
  	<url-pattern>/newBatsman</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>newbowler</servlet-name>
  	<url-pattern>/newbowler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>bresult</servlet-name>
  	<url-pattern>/bresult</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>boresult</servlet-name>
  	<url-pattern>/boresult</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>scheduleMatch</servlet-name>
  	<url-pattern>/scheduleMatch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>signup</servlet-name>
  	<url-pattern>/signup</url-pattern>
  </servlet-mapping>
</web-app>
